
/* ----------------nav------------------- */
*root{
    width: 100%;
    height: 1000px;
    background-color: aquamarine;
}
.Nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: bisque;
    box-shadow: 4px 5px 10px rgba(0,0,0,0.5);
}
a{
    text-decoration: none;
    color: rgb(95, 77, 99);
}
/* .logo{
    width: 10%;
    height: 130px;
} */
.div-a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 100px;
}
/* .div-a :hover{
    display: block;
} */
/* ----------------content---------------- */
.Content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10%;
    /* background-color: bisque; */
}
.personal-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
p{
    text-wrap: wrap;
    font-size: larger;
}
.list-div{
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    gap: 7%;
    margin-right: 50%;
}
.Project{
    width: 35%;
    height: 90px;
    background-color: yellow;
    border-radius: 50%;
}
.Skill{
    width: 35%;
    height: 90px;
    background-color: aqua;
    border-radius: 50%;
}
.Contact{
    width: 35%;
    height: 90px;
    background-color: rgb(224, 90, 135);
    border-radius: 50%;
}
.Project,.Skill,.Contact,p{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----------------footer---------------- */
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 13%;
    /* background-color: bisque; */
}
h4{
    color: rgb(95, 77, 99);
}
.github{
    font-size: larger;
    color: black;  
}

